[Desktop Entry]
X-SnapInstanceName=obsidian
Name=Obsidian
X-SnapAppName=obsidian
Exec=/snap/bin/obsidian %U
Terminal=false
Type=Application
Icon=/snap/obsidian/53/meta/gui/icon.png
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/obsidian_obsidian.desktop
