# Extcap configuration file for Wireshark 4.4.8.
#
# This file is regenerated each time preferences are saved within
# Wireshark. Making manual changes should be safe, however.
# Preferences that have been commented out have not been
# changed from their default value.

####### Extcap Utilities ########

# Save arguments on start of capture
# true or false (case-insensitive)
#extcap.gui_save_on_start: TRUE

# Max bytes in a packet
# A string
#extcap.randpkt.maxbytes: 5000

# Number of packets
# A string
#extcap.randpkt.count: 1000

# Packet delay (ms)
# A string
#extcap.randpkt.delay: 0

# Random type
# A string
#extcap.randpkt.randomtype: false

# All random packets
# A string
#extcap.randpkt.allrandom: false

# Type of packet
# A string
#extcap.randpkt.type: 

# Set the log level
# A string
#extcap.randpkt.loglevel: 

# Use a file for logging
# A string
#extcap.randpkt.logfile: 

# Remote SSH server address
# A string
#extcap.wifidump.remotehost: 

# Remote SSH server port
# A string
#extcap.wifidump.remoteport: 

# Remote SSH server username
# A string
#extcap.wifidump.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap.wifidump.remotepassword: 

# Path to SSH private key
# A string
#extcap.wifidump.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap.wifidump.sshkeypassphrase: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.wifidump.sshsha1: 

# Remote interface
# A string
#extcap.wifidump.remoteinterface: auto

# Remote channel
# A string
#extcap.wifidump.remotechannelfrequency: 

# Remote channel width
# A string
#extcap.wifidump.remotechannelwidth: 

# Remote capture filter
# A string
#extcap.wifidump.remotefilter: 

# Frames to capture
# A string
#extcap.wifidump.remotecount: 

# Set the log level
# A string
#extcap.wifidump.loglevel: 

# Use a file for logging
# A string
#extcap.wifidump.logfile: 

# Remote SSH server address
# A string
#extcap.ciscodump.remotehost: 

# Remote SSH server port
# A string
#extcap.ciscodump.remoteport: 22

# Remote SSH server username
# A string
#extcap.ciscodump.remoteusername: siddharthmalik

# Remote SSH server password
# Password (never stored on disk)
#extcap.ciscodump.remotepassword: 

# Path to SSH private key
# A string
#extcap.ciscodump.sshkey: 

# ProxyCommand
# A string
#extcap.ciscodump.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.ciscodump.sshsha1: 

# Remote interface
# A string
#extcap.ciscodump.remoteinterface: 

# Remote capture filter
# A string
#extcap.ciscodump.remotefilter: deny tcp host fe80::f9c3:4bbc:b403:ec81 any eq 22, deny tcp any eq 22 host fe80::f9c3:4bbc:b403:ec81, deny tcp host fe80::5e98:a4ab:cce7:9928 any eq 22, deny tcp any eq 22 host fe80::5e98:a4ab:cce7:9928, deny tcp host fe80::3b77:45a6:5b46:76de any eq 22, deny tcp any eq 22 host fe80::3b77:45a6:5b46:76de, deny tcp host fe80::5adb:723c:138b:ad7b any eq 22, deny tcp any eq 22 host fe80::5adb:723c:138b:ad7b, deny tcp host fe80::ce81:b1c:bd2c:69e any eq 22, deny tcp any eq 22 host fe80::ce81:b1c:bd2c:69e, deny tcp host fe80::b0e6:eba2:21c4:b38b any eq 22, deny tcp any eq 22 host fe80::b0e6:eba2:21c4:b38b, deny tcp host fe80::75e7:4129:fda1:5005 any eq 22, deny tcp any eq 22 host fe80::75e7:4129:fda1:5005, deny tcp host fe80::62d1:4a27:8d2c:1cc0 any eq 22, deny tcp any eq 22 host fe80::62d1:4a27:8d2c:1cc0, deny tcp host fe80::544c:7dff:fe9a:feb9 any eq 22, deny tcp any eq 22 host fe80::544c:7dff:fe9a:feb9, deny tcp host fe80::544c:7dff:fe9a:feb9 any eq 22, deny tcp any eq 22 host fe80::544c:7dff:fe9a:feb9, deny tcp host 192.0.0.2 any eq 22, deny tcp any eq 22 host 192.0.0.2, deny tcp host 2409:40f4:411e:32f:a5bb:ee6e:bd1f:2c63 any eq 22, deny tcp any eq 22 host 2409:40f4:411e:32f:a5bb:ee6e:bd1f:2c63, deny tcp host 2409:40f4:411e:32f:4a0:86f4:7c2c:c0de any eq 22, deny tcp any eq 22 host 2409:40f4:411e:32f:4a0:86f4:7c2c:c0de, deny tcp host fe80::c40:5b42:2ef7:3303 any eq 22, deny tcp any eq 22 host fe80::c40:5b42:2ef7:3303, deny tcp host fe80::f805:6cff:febc:f46e any eq 22, deny tcp any eq 22 host fe80::f805:6cff:febc:f46e, deny tcp host fe80::aede:48ff:fe00:1122 any eq 22, deny tcp any eq 22 host fe80::aede:48ff:fe00:1122, deny tcp host fe80::1 any eq 22, deny tcp any eq 22 host fe80::1, permit ip any any

# Packets to capture
# A string
#extcap.ciscodump.remotecount: 

# Set the log level
# A string
#extcap.ciscodump.loglevel: 

# Use a file for logging
# A string
#extcap.ciscodump.logfile: 

# Listen port
# A string
#extcap.udpdump.port: 5555

# Payload type
# A string
#extcap.udpdump.payload: data

# Set the log level
# A string
#extcap.udpdump.loglevel: 

# Use a file for logging
# A string
#extcap.udpdump.logfile: 

# Remote SSH server address
# A string
#extcap.sshdump.remotehost: 

# Remote SSH server port
# A string
#extcap.sshdump.remoteport: 22

# Remote SSH server username
# A string
#extcap.sshdump.remoteusername: 

# Remote SSH server password
# Password (never stored on disk)
#extcap.sshdump.remotepassword: 

# Path to SSH private key
# A string
#extcap.sshdump.sshkey: 

# SSH key passphrase
# Password (never stored on disk)
#extcap.sshdump.sshkeypassphrase: 

# ProxyCommand
# A string
#extcap.sshdump.proxycommand: 

# Support SHA-1 keys (deprecated)
# A string
#extcap.sshdump.sshsha1: 

# Remote interface
# A string
#extcap.sshdump.remoteinterface: 

# Remote capture command selection
# A string
#extcap.sshdump.remotecapturecommandselect: 

# Remote capture command
# A string
#extcap.sshdump.remotecapturecommand: 

# Gain capture privilege on the remote machine
# A string
#extcap.sshdump.remotepriv: 

# Privileged user name for sudo or doas
# A string
#extcap.sshdump.remoteprivuser: 

# No promiscuous mode
# A string
#extcap.sshdump.remotenoprom: 

# Remote capture filter
# A string
#extcap.sshdump.remotefilter: not ((host fe80::f9c3:4bbc:b403:ec81 or host fe80::5e98:a4ab:cce7:9928 or host fe80::3b77:45a6:5b46:76de or host fe80::5adb:723c:138b:ad7b or host fe80::ce81:b1c:bd2c:69e or host fe80::b0e6:eba2:21c4:b38b or host fe80::75e7:4129:fda1:5005 or host fe80::62d1:4a27:8d2c:1cc0 or host fe80::544c:7dff:fe9a:feb9 or host fe80::544c:7dff:fe9a:feb9 or host 192.0.0.2 or host 2409:40f4:411e:32f:a5bb:ee6e:bd1f:2c63 or host 2409:40f4:411e:32f:4a0:86f4:7c2c:c0de or host fe80::c40:5b42:2ef7:3303 or host fe80::f805:6cff:febc:f46e or host fe80::aede:48ff:fe00:1122 or host fe80::1) and port 22)

# Packets to capture
# A string
#extcap.sshdump.remotecount: 0

# Set the log level
# A string
#extcap.sshdump.loglevel: 

# Use a file for logging
# A string
#extcap.sshdump.logfile: 
